grey = #a9a9a9
light-grey = #d3d3d3

vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	{prop} args

border-radius()
	vendor('border-radius', arguments)

body
	padding-top 50px

.task-list
	background #d3d3d3
	padding 20px
	border-radius 10px
	margin-top 20px

.list-header
	border-bottom 1px solid grey
	padding-bottom 0.6em
	.h4
		color grey

.card
	background #f5f5f5
	border 1px solid grey
	border-radius 5px
	padding 0.8em
	margin-bottom 0.5em

.animate-show
	vendor('transition', all linear 0.5s)
	line-height 20px
	opacity 1

.animate-show.ng-hide
	line-height 0
	opacity 0
