doctype
html
	head
		title Kanban Board
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/site.css")
	body(ng-app="kanbanBoard")
		div(ng-include="'/partials/layout/shell'")

		include ../includes/scripts
