doctype
html(ng-app="app")
	head
		title(ng-bind="title")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/vendor/toastr/toastr.min.css")
		link(rel="stylesheet", href="/css/site.css")
	body
		div(ng-include="'/partials/layout/shell'")

		script(type="text/javascript", src="/vendor/jquery/dist/jquery.min.js")
		script(type="text/javascript", src="/vendor/angular/angular.min.js")
		script(type="text/javascript", src="/vendor/angular-animate/angular-animate.min.js")
		script(type="text/javascript", src="/vendor/angular-route/angular-route.min.js")
		script(type="text/javascript", src="/vendor/toastr/toastr.js")

		script(type="text/javascript", src="/app/app.module.js")

		script(type="text/javascript", src="/app/blocks/logger/logger.module.js")
		script(type="text/javascript", src="/app/blocks/logger/logger.js")

		script(type="text/javascript", src="/app/core/core.module.js")
		script(type="text/javascript", src="/app/core/constants.js")
		script(type="text/javascript", src="/app/core/config.js")
		script(type="text/javascript", src="/app/core/listCards.filter.js")
		script(type="text/javascript", src="/app/core/dataService.js")

		script(type="text/javascript", src="/app/layout/layout.module.js")
		script(type="text/javascript", src="/app/layout/shell.js")

		script(type="text/javascript", src="/app/board/board.module.js")
		script(type="text/javascript", src="/app/board/board.js")
		script(type="text/javascript", src="/app/board/list.js")
