div(ng-controller="BoardController as board")
	.row
		.col-md-4(ng-repeat="list in board.board.lists | orderBy:'position'")
			.task-list(ng-controller="ListController as listVm")
				h3.text-center.list-header {{ listVm.list.title }}
					span.h4(ng-show="listVm.list.cardLimit")  ({{ listVm.list.cardLimit }})
				div.card(ng-repeat="card in board.board.cards | listCards:listVm.list._id | orderBy:'position'")
					h4 {{ card.title }}
					div {{ card.description }}
				.card.animate-show(ng-show="listVm.isAdding")
					form(name="addCardForm")
						.form-group
							input.form-control(name="title", type="text", required, placeholder="Task name", ng-model="listVm.newCard.title")
						.form-group.clearfix
							.pull-right
								a.btn.btn-default(ng-click="listVm.cancelAddCard()") Cancel
								| &nbsp;
								button.btn.btn-primary(ng-click="listVm.saveCard()", ng-disabled="addCardForm.$invalid") Save
				.animate-show(ng-hide="listVm.isAdding")
					a(ng-click="listVm.addNewCard()") Add Card...