script(type="text/javascript", src="/vendor/angular/angular.min.js")
script(type="text/javascript", src="/app/app.module.js")
script(type="text/javascript", src="/app/app.config.js")
script(type="text/javascript", src="/app/layout/shell.controller.js")
script(type="text/javascript", src="/app/board/board.controller.js")
